:root {
  --alpha: #c39bf4;
  --bravo: #8b58ca;
  --charlie: #8f80a0;
  --foxtrot: #b89fff;
  --echo: #faf9ff;
  --golf: #000000;
  --hotel: #1e1e1e;
  --contrast: #e84188;
  --elements: #c4c4c4;
  --light: #ffffff;
  --skills: #e1e1e1;
}
